<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.managementsystem.mapper.CaseCloseExtMapper">

    <select id="selectByCaseId" resultType="com.example.managementsystem.entity.CaseCloseExt">
        SELECT *
        FROM case_close_ext
        WHERE case_id = #{caseId}
        LIMIT 1
    </select>

</mapper>

