<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.managementsystem.mapper.CaseInfoMapper">



    <update id="removeTaskId">
        UPDATE case_info
        SET task_id = NULL
        WHERE case_id = #{caseId}
    </update>

    <!-- 查询所有案件总数 -->
    <select id="countAllCases" resultType="int">
        SELECT COUNT(*) FROM case_info
        WHERE 1=1
        <if test="caseName != null and caseName != ''">
            AND case_name LIKE CONCAT(#{caseName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="caseNumber != null and caseNumber != ''">
            AND case_number LIKE CONCAT('%', #{caseNumber}, '%')
        </if>
        <if test="plaintiff != null and plaintiff != ''">
            AND plaintiff_name LIKE CONCAT('%', #{plaintiff}, '%')
        </if>
        <if test="defendant != null and defendant != ''">
            AND defendant_name LIKE CONCAT('%', #{defendant}, '%')
        </if>
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
        <if test="assistantId != null and assistantId != ''">
            AND assistant_id = #{assistantId}
        </if>
        <if test="station != null and station != ''  and station != '总部'">
            <choose>
                <!-- 当 station 是 '九堡彭埠' 时，使用 in 条件 -->
                <when test="station == '九堡彭埠'">
                    AND case_location in ('九堡', '彭埠')
                </when>
                <!-- 其他情况使用等于条件 -->
                <otherwise>
                    AND case_location = #{station}
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 查询所有案件总数 -->
    <select id="countByTaskId" resultType="int">
        SELECT COUNT(*) FROM case_info
        WHERE 1=1
        <if test="taskId != null and taskId != ''">
            AND task_id = #{taskId}
        </if>
    </select>

    <!-- 根据用户ID查询生效的案件 -->
    <select id="countActiveByUserId" resultType="int">
        SELECT COUNT(*) FROM case_info
        WHERE status in ('已领取' ,'反馈' ,'延期')
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>

    </select>

    <!-- 根据用户ID查询生效的案件 -->
    <select id="countActiveReceiveByUserId" resultType="int">
        SELECT COUNT(*) FROM case_info
        WHERE status in ('已领取' ,'反馈' ,'延期')
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
        <if test="receiveType != null and receiveType != ''">
            AND receive_type = #{receiveType}
        </if>

    </select>


    <update id="updateReturnStatus">
        UPDATE case_info
        SET status = #{status},
            return_reason = #{returnReason}
        WHERE case_id = #{caseId}
    </update>

    <!-- 分页查询案件 -->
    <select id="selectCasePage" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT *,a.username as assistantName, t.task_name as taskName  FROM case_info c
                          LEFT JOIN user u ON c.user_id = u.user_id
                          LEFT JOIN user a ON c.assistant_id = a.user_id
                          LEFT JOIN task t ON c.task_id = t.task_id
        WHERE 1=1
        <if test="caseName != null and caseName != ''">
            AND case_name LIKE CONCAT(#{caseName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND c.status = #{status}
        </if>
        <if test="caseNumber != null and caseNumber != ''">
            AND c.case_number LIKE CONCAT('%', #{caseNumber}, '%')
        </if>
        <if test="plaintiff != null and plaintiff != ''">
            AND c.plaintiff_name LIKE CONCAT('%', #{plaintiff}, '%')
        </if>
        <if test="defendant != null and defendant != ''">
            AND c.defendant_name LIKE CONCAT('%', #{defendant}, '%')
        </if>
        <if test="userId != null and userId != ''">
            AND c.user_id = #{userId}
        </if>
        <if test="assistantId != null and assistantId != ''">
            AND c.assistant_id = #{assistantId}
        </if>
        <if test="station != null and station != '' and station != '总部'">
            <choose>
                <!-- 当 station 是 '九堡彭埠' 时，使用 in 条件 -->
                <when test="station == '九堡彭埠'">
                    AND c.case_location in ('九堡', '彭埠')
                </when>
                <!-- 其他情况使用等于条件 -->
                <otherwise>
                    AND c.case_location = #{station}
                </otherwise>
            </choose>
        </if>
        ORDER BY c.case_id DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 根据任务ID查询案件 -->
    <select id="selectByTaskId" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT * FROM case_info
        WHERE task_id = #{taskId} order by case_id DESC
    </select>

    <!-- 根据用户ID查询案件 -->
    <select id="selectByUserId" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT * FROM case_info
        WHERE user_id = #{userId} order by case_id DESC
    </select>

    <!-- 根据状态查询案件 -->
    <select id="selectByStatus" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT * FROM case_info
        WHERE status = #{status} order by case_id DESC
    </select>

    <!-- 添加：前缀模糊搜索（只匹配以输入内容开头的案由） -->
    <select id="selectByCaseNameLikePrefix" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT * FROM case_info
        WHERE case_name LIKE CONCAT(#{caseName}, '%')  order by case_id DESC
    </select>

    <!-- 关联查询案件列表（包含处理人用户名） -->
    <select id="selectCasesWithUsername" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT
            c.*,
            u.username,
            a.username as assistantName
        FROM
            case_info c
                LEFT JOIN user u ON c.user_id = u.user_id
                LEFT JOIN user a ON c.assistant_id = a.user_id
        ORDER BY c.case_id DESC
    </select>

    <!-- 根据状态关联查询（包含处理人用户名） -->
    <select id="selectCasesByStatusWithUsername" parameterType="String" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT
            c.*,
            u.username
        FROM
            case_info c
                LEFT JOIN
            user u ON c.user_id = u.user_id
        WHERE
            c.status = #{status}
        ORDER BY c.case_id DESC
    </select>

    <select id="selectMyCasesWithUsername" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT
            c.*,
            u.username  as assistantName
        FROM
            case_info c
                LEFT JOIN
            user u ON c.assistant_id = u.user_id
        WHERE
            c.user_id = #{userId} and c.status!='退回' and c.status!='完结'
        ORDER BY c.case_id DESC
    </select>

    <select id="selectAssistantCasesWithUsername" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT
            c.*,
            u.username as userName
        FROM
            case_info c
                LEFT JOIN
            user u ON c.user_id = u.user_id
        WHERE
            c.assistant_id = #{userId}
        ORDER BY c.case_id DESC
    </select>


    <select id="selectByStatusList" resultType="com.example.managementsystem.entity.CaseInfo">
        SELECT * FROM case_info
        WHERE 1=1
        AND (
        status IN
        <foreach collection="statusList" item="status" open="(" separator="," close=")">
            #{status}
        </foreach>
        <if test="taskId != null and taskId != ''">
            OR (status='已领取' AND task_id=#{taskId})
        </if>
        )
        <if test="caseName != null and caseName != ''">
           AND case_name LIKE CONCAT('%', #{caseName}, '%')
        </if>
        <if test="station != null and station != '' and station != '总部'">
            <choose>
                <!-- 当 station 是 '九堡彭埠' 时，使用 in 条件 -->
                <when test="station == '九堡彭埠'">
                    AND case_location in ('九堡', '彭埠')
                </when>
                <!-- 其他情况使用等于条件 -->
                <otherwise>
                    AND case_location = #{station}
                </otherwise>
            </choose>
        </if>

        ORDER BY case_id DESC
    </select>

    <!-- 更新案件为完结状态 -->
    <update id="updateCompleteStatus">
        UPDATE case_info
        SET
            status = #{status},
            completion_remark = #{completionRemark},
            return_court_time = #{returnCourtTime},
            updated_time = NOW()
        WHERE case_id = #{caseId}
    </update>





</mapper>