<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.managementsystem.mapper.TaskMapper">

    <!-- 查询所有任务总数 -->
    <select id="countAllTasks" resultType="int">
        SELECT COUNT(*) FROM task
        WHERE 1=1
        <if test="taskName != null and taskName != ''">
            AND task_name LIKE CONCAT('%', #{taskName}, '%')
        </if>
        <if test="taskStatus != null and taskStatus != ''">
            AND status = #{taskStatus}
        </if>
        <if test="station != null and station != '' and station != '总部'">
            <choose>
                <!-- 当 station 是 '九堡彭埠' 时，使用 in 条件 -->
                <when test="station == '九堡彭埠'">
                    AND station in ('九堡', '彭埠', '九堡彭埠')
                </when>
                <!-- 其他情况使用等于条件 -->
                <otherwise>
                    AND station = #{station}
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 获取某天某用户领取的任务数量 -->
    <select id="countTasksReceivedByUser" resultType="int">
        SELECT COUNT(*)
        FROM task
        WHERE
            owner_id = #{userId}  -- 领取人ID（用户ID）
          AND status = '已领取'  -- 状态为已领取
      -- 匹配领取日期（假设任务领取时间存储在updated_time字段，需根据实际表结构调整）
          AND DATE(updated_time) = #{receiveDate}
    </select>

    <!-- 分页查询任务 -->
    <select id="selectTaskPage" resultType="com.example.managementsystem.entity.Task">
        SELECT * FROM task
        WHERE 1=1
        <if test="taskName != null and taskName != ''">
            AND task_name LIKE CONCAT('%', #{taskName}, '%')
        </if>
        <if test="taskStatus != null and taskStatus != ''">
            AND status = #{taskStatus}
        </if>
        <if test="station != null and station != ''  and station != '总部' ">
            <choose>
                <!-- 当 station 是 '九堡彭埠' 时，使用 in 条件 -->
                <when test="station == '九堡彭埠'">
                    AND station in ('九堡', '彭埠', '九堡彭埠')
                </when>
                <!-- 其他情况使用等于条件 -->
                <otherwise>
                    AND station = #{station}
                </otherwise>
            </choose>
        </if>
        ORDER BY created_time,task_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

</mapper>